

.entertainment-showcase{
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100%;
    overflow: auto;
    background-image:linear-gradient(75deg,rgba(0,0,0,0.9),70%,rgba(0,0,0,0.6)), url(../../assets/images/ott.jpg);
    padding: 2rem 1rem;
    
}

.entertainment-showcase::-webkit-scrollbar{
    display: none;
}


.section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}