.image{
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.image:hover{
    transform: scale(1.1);
}

h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--red);
    width: 200px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: rgb(177, 177, 177);
}

.section_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

h4{
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

