

.entertainment-showcase{
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100%;
    overflow: auto;
  
    
}

.entertainment-showcase::-webkit-scrollbar{
    display: none;
}


.section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}