*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(240, 6%, 7%);
    --red: rgb(211, 47, 39);
    --medium-grey: hsl(240, 5%, 37%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--medium-grey);
    background-color: var(--dark-blue);
}

body::-webkit-scrollbar{
    display: none;
}
