.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-blue);
    height: 70px;
    padding: 0 6rem;
}

.navigate_logo img{
    height: 24px;
}

.navigate_logo{
text-decoration: none;
}


.navigate_logo span{
    font-size: 1.5rem;
    color: rgb(224, 224, 224);
    font-weight: 600;
    font-style: normal;
    margin-left: 5px;
}

.trending_navbar-search{
    padding: 0.5rem 0.7rem;
    width: 250px;
    background-color: #2b2d35;
    border: transparent;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
